.pattern {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  // position: absolute;
  // right: 5%;
  transform: translatey(120px);
  @include breakpoint("phone") {
    transform: translatey(80px);
  }
  .pattern-1 {
    background-color: $blue-dark;
    height: 65px;
    width: 65px;
  }
  .pattern-2 {
    background-color: $blue-light;
    height: 65px;
    width: 65px;
    transform: translate(-40px, 40px);
  }
}
