* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: $font-size-base;
  line-height: 1;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-hero {
  width: 100%;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-wide {
  width: 100%;
  max-width: 1510px;
  padding: 0 15px;
  margin: 0 auto;
}

.pd {
  padding-top: 120px;
}

.pdb {
  padding-bottom: 120px;
}

.btn-center {
  display: flex;
  justify-content: center;
}
