$primary-font: "Poppins", sans-serif;

// Colors
$primary-color: #1a1a1b;
$black: #000000;
$white: #ffffff;
$gray-light: #3e3e3e;
$blue-dark: #0f2480;
$blue-light: #3554d1;
$orange: #f97616;
$orange-light: #f9bc16;

// Font Sizes
$font-size-base: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xlarge: 20px;

// Heading sizes
$font-size-h1: 50px;
$font-size-h2: 36px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 15px;

// Custom Font Sizes
$font-size-ultra-big: 68px;
$font-size-small-title: 34px;
$font-size-tabs-title: 28px;

// Breakpoints
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$mb: 480px;
$ip: 420px;
$xs: 350px;

// // Containers
// $container: 1181px;

// Padding on all sectionts
