.home-hero {
  background-image: url("/app/images/hero.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 924px 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .home-hero-inner {
    padding-top: 170px;
    display: inline-block;
    display: flex;
    flex: 0 0 45%;
    max-width: 45%;
    flex-direction: column;
    @include breakpoint("tablet") {
      flex: 0 0 100%;
      max-width: 100%;
      .heading {
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
      }
      .btn {
        background-color: rgba(255, 255, 255, 0.61);
      }
    }
    p {
      padding-bottom: 55px;
    }
    @include breakpoint("tablet") {
      p {
        text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
        color: $black;
        font-weight: 500;
        font-size: 18px;
      }
    }
  }
  .home-hero-bottom {
    width: 100%;
    height: 100px;
    background-color: $white;
    transform: translatey(50px);
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    @include breakpoint("tablet") {
      // display: none;
    }

    .home-hero-bottom-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex: 0 0 100%;
      max-width: 100%;
      height: 100%;
      @include breakpoint("tablet") {
        justify-content: flex-start;
      }

      .home-hero-bottom-inner-col {
        flex: 0 0 35%;
        max-width: 35%;

        padding-left: 25px;
        @include breakpoint("tablet") {
          padding-left: 10px;
        }

        input {
          width: 100%;
          height: 55px;
          padding-left: 20px;
          font-size: $font-size-large;
          border: 1px solid #000;
        }
      }
      .home-hero-bottom-inner-col3 {
        display: flex;
        flex: 0 0 30%;
        max-width: 30%;
        padding-right: 20px;
        padding-left: 25px;
      }
    }
  }
}
