.image-content {
  .image-content-inner {
    padding-top: 40px;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    gap: 100px;
    .image-content-col {
      flex: 0 0 50%;
      max-width: 50%;
      p {
        padding-bottom: 50px;
      }
      .image-content-col-img {
        width: 100%;
      }
    }
  }
}
