.pricing-boxes-inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.pricing-boxes-heading-wrapper {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.pricing-boxes-heading-text {
  padding-bottom: 65px;
}

.pricing-box {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 10px;
  @include breakpoint("phone") {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 60px;
  }
  @include max-mq(400px) {
    padding: 0;
  }
}

.pricing-box-content {
  height: 560px;
}

.pricing-box-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  height: 130px;
  background-color: $blue-dark;
}

.pricing-box-content-bottom {
  background-color: $blue-light;
  min-height: 430px;
  &.orange {
    background-color: $orange-light;
  }
}

.pricing-box-content-bottom-price-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    padding-bottom: 25px;
    color: $white;
  }
}

.btn-center {
  padding-top: 20px;
  @include breakpoint("phone") {
    padding-bottom: 20px;
  }
}
